<%= render "shared/auth_shell",
  auth_title: "Create Account",
  auth_subtitle: "",
  auth_fields: [
    {
      label: "Author Name*",
      type: "text",
      name: "author_name",
      placeholder: "Your Pen Name"
    },
    {
      label: "Email*",
      type: "email",
      name: "email",
      placeholder: "youremail@gmail.com",
      autocomplete: "email"
    },
    {
      label: "Password*",
      type: "password",
      name: "password",
      placeholder: "Create a secure password",
      autocomplete: "new-password"
    }
  ],
  show_marketing_opt_in: false,
  legal_copy_html: "By continuing, you agree to the <a href=\"#\">Terms of Service</a> & <a href=\"#\">Privacy Policy</a>.",
  primary_cta_label: "Create Account",
  secondary_cta_label: "Back",
  switch_copy: "Already have an account?",
  switch_cta_label: "Login",
  switch_cta_path: login_path %>
