<main class="home" data-controller="home-click" data-action="click->home-click#log">
  <h1 class="home__title">manuscriptOS</h1>
  <section
    class="home__desktop"
    aria-label="Desktop"
    data-controller="desktop"
    data-action="click->desktop#select"
    data-desktop-shortcuts-value="<%= json_escape(@desktop_shortcuts.to_json) %>"
  ></section>
  <div
    class="home__note"
    data-controller="draggable"
    data-draggable-handle-selector-value=".ig-note__titlebar"
    data-action="
      pointerdown->draggable#start
      pointermove->draggable#move
      pointerup->draggable#end
      pointercancel->draggable#end
    "
  >
    <%= render "shared/ig_note",
      title: @note&.title || "Untitled Note",
      content: @note&.content || "No note found.",
      variant: "blue",
      mode: "expanded",
      width: "28rem",
      height: "12rem" %>
  </div>
</main>
