<%= render "shared/auth_shell",
  resource: resource,
  auth_title: "Create Account",
  auth_subtitle: "",
  form_action: registration_path(resource_name),
  form_method: "post",
  auth_fields: [
    {
      label: "Author Name*",
      type: "text",
      name: "user[author_name]",
      value: resource&.author_name,
      placeholder: "Your Pen Name"
    },
    {
      label: "Email*",
      type: "email",
      name: "user[email]",
      value: resource&.email,
      placeholder: "youremail@gmail.com",
      autocomplete: "email"
    },
    {
      label: "Password*",
      type: "password",
      name: "user[password]",
      placeholder: "Create a secure password",
      autocomplete: "new-password"
    },
    {
      label: "Confirm Password*",
      type: "password",
      name: "user[password_confirmation]",
      placeholder: "Repeat your password",
      autocomplete: "new-password"
    }
  ],
  show_marketing_opt_in: false,
  legal_copy_html: "By continuing, you agree to the <a href=\"#\">Terms of Service</a> & <a href=\"#\">Privacy Policy</a>.",
  primary_cta_label: "Create Account",
  secondary_cta_label: "Back",
  switch_copy: "Already have an account?",
  switch_cta_label: "Login",
  switch_cta_path: new_user_session_path %>
